{
    "presets": ["env", "react"],
    "plugins": [
        "transform-class-properties",
        [
            "transform-async-to-generator", {
                "module": "bluebird",
                "method": "coroutine"
            }
        ]
    ]
}
