@import "container.scss";
@import "shadowed.scss";

.section-box {
    @include shadowed-subtle();
    border-radius: 2px;
    background-color: white;

    margin-top: 3em;

    .__content {
        padding: 2em;
        padding-top: 1em;
        margin-top: 1em;
    }

    .__header {
        border-bottom: 1px solid lightgrey;
        padding: 1em 2em 0em 1em;

        h2 {
            font-size: 20pt;
        }
    }
}

.BankIndex {
    .BankIndex__content {
        @extend .container;
        margin-bottom: 3em;
    }
}

