.container {
    @media (min-width: 1120px) {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 1120px) {
        padding-left: 1em;
        padding-right: 1em;
    }
}