aiofiles==0.3.2
aiohttp==2.3.2
async-timeout==2.0.0
cffi==1.11.2
chardet==3.0.4
ecdsa==0.13
future==0.16.0
httptools==0.0.9
motor==1.1
multidict==3.3.2
pycparser==2.18
pycrypto==2.6.1
pymongo==3.5.1
PyNaCl==1.2.0
python-jose==1.4.0
PyYAML==3.12
sanic==0.6.0
six==1.11.0
ujson==1.35
uvloop==0.8.1
websockets==4.0.1
yarl==0.14.1
