@import "../Bank.scss";

.DetailsList {
    @extend .section-box;

    .__content {
        h3 {
            font-size: 14pt;
        }
        padding: 1em 1em 1em 1em;
        margin: 0;

        border-bottom: 1px solid lightgrey;

        &:last-child {
            border-bottom: none;
        }

        .__headerTable {
            thead {
                background-color: white;
                border: none;
                th {
                   text-align: right;
                   font-weight: 300;
                }


            }

            th.__accountType {
                padding-left: 0;
                margin-left: 0;

                h3 {
                    text-align: left;
                    margin: 0;
                }
            }

            margin-bottom: 0;
        }


        tbody {
            tr.__row {
                background-color: white;
                text-align: right;
            }
        }

        .__apy {
            width: 6em;
        }
        .__interestYTD {
            width: 12em;
        }
        .__balance {
            width: 12em;
        }
        .__displayName {
            text-align: left;
        }

        .TotalRow {
            background-color: #efefef;
            .__balance {
                font-weight: 700;
            }
            td {
                text-align: right;
            }
        }
    }
}
