@import "container.scss";
@import "shadowed.scss";

.Signup {
    @extend .container;

    .Signup__content {
        margin-top: 3em;
        padding: 2em;
        @include shadowed-medium();
        background-color: white;

        // form.__usernamePassword {
        //     padding: 2em;
        //     // border: 1px solid #eee;
        //     border-radius: 2px;
        // }

        .TwoFactorSelectorList {

            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

            .TwoFactorButton {
                flex: 1;
                // background-color: #ccc;
                // color: black;
                margin-right: 12px;
                @include shadowed-subtle();
                font-size: 48pt;
                font-family: serif;
                font-weight: 100;
                padding: 0.5em;

                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                &:hover, &:active {
                    @include shadowed();
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }


}
