@import "container.scss";
@import "shadowed.scss";

.SignupUsernamePassword {
    @extend .container;

    .Signup__content {
        margin-top: 3em;
        padding: 2em;
        @include shadowed-medium();
        background-color: white;

        // form.__usernamePassword {
        //     padding: 2em;
        //     // border: 1px solid #eee;
        //     border-radius: 2px;
        // }


    }


}
