@import "colors.scss";
@import "container.scss";
@import "shadowed.scss";

.HeaderBar {
    background-color: $darkBackground;
    @include shadowed-subtle();

    .HeaderBar__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 4.5em;

        @extend .container;

        .__rightLinks {
            margin-left: auto;
            a {
                color: whitesmoke;
                margin-left: 2em;

                &:hover, &:active {
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }

    .__logo {
        color: whitesmoke;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 3em;
            height: 3em;
        }

        h1 {
            margin: 0;
            margin-left: 0.3em;
            font-size: 28pt;
        }

    }
}
