@import "colors.scss";
@import "shadowed.scss";
@import "clearfix.scss";

.Login {

    display: flex;
    flex-direction: row;
    justify-content: center;



    .x-vertical-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    form {
        width: 400px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .__loginForm {
        @include clearfix();
    }

    .Login__submit {
        float: right;
        width: 8em;
    }

    height: calc(100vh - 72px);

    .LoginBox {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            width: 269px;
            height: 284px;
            @media(max-width: 999px) {
                display: none;
            }
            margin-right: 4em;
        }

        // border: 1px solid $darkBackground;
        padding: 4em;
        background-color: white;
        border-radius: 1px;

        position: relative;
        bottom: 8vh;

        @include shadowed-medium();
    }
}
