.Logout {
    margin-top: 3em;
    font-size: 20pt;
    text-align: center;

    button {
        a {
            color: white;
            text-decoration: none;
            font-size: 18pt;
        }
    }
}
