@import "container.scss";
@import "colors.scss";

.AdminUsers {
    @extend .content-container;

    td.__link {
        a {
            color: $darkHighlight;
            text-decoration: underline;
        }
    }
}

.DailyLoginChart {
    .__bucket {
        // width: 2.5em;
        width: 3em;
        text-align: center;
        font-family: monospace;
        font-size: 14pt;
    }
}
